.users-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    background-color: black
    
}

.each-user {
width: 10vh;
background-color: rgb(131, 20, 20);
text-align: center;
padding: 5vh;
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 15px;
margin: 7vh;

}